{
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./",
    "paths": {
      "@/src/*": ["src/*"]
    },
    "target": "esnext"
  },
  "module": {
    "type": "es6",
    "resolveFully": true
  },
  "minify": false
}
